<div class="wrapper">
<header class="main-header">
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <!-- Logo -->
    <a href="#/dashboard" class="logo"> <span class="logo-lg"><img src="/styles/dist/img/logo_header.png"  class="img-responsive"></span> </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">

        <!-- Notifications: style can be found in dropdown.less -->
        <li class="dropdown notifications-menu"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-bell-o"><span class="glyphicon glyphicon-flag"></span></i> <span class="label label-danger">10</span> </a>
          <ul class="dropdown-menu">
            <li class="header">You have 10 New topic requests</li>
            <li>
              <!-- inner menu: contains the actual data -->
              <ul class="menu">
                <li> <a href="#"> <i class="fa fa-users text-aqua"></i> Down the Rabbit-hole </a> </li>
                <li> <a href="#"> <i class="fa fa-warning text-yellow"></i> Tabby’s Tablecloth </a> </li>
                <li> <a href="#"> <i class="fa fa-users text-red"></i> The Village School </a> </li>
                <li> <a href="#"> <i class="fa fa-shopping-cart text-green"></i> Saving the Tiger </a> </li>
                <li> <a href="#"> <i class="fa fa-user text-red"></i> Arthur and the Sword </a> </li>
              </ul>
            </li>
            <li class="footer"><a href="#">View all</a></li>
          </ul>
        </li>
        <!-- Tasks: style can be found in dropdown.less -->
        <li class="dropdown tasks-menu"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-flag-o"><span class="glyphicon glyphicon-user"></span></i> <span class="label label-danger">9</span> </a>
          <ul class="dropdown-menu">
            <li class="header">You have 9 New Connect Requests</li>
            <li>
              <!-- inner menu: contains the actual data -->
              <ul class="menu">
                <li>
                  <!-- Task item -->
                  <a href="#">
                  <h3> Manju </h3>
                  </a> </li>
                <!-- end task item -->
                <li>
                  <!-- Task item -->
                  <a href="#">
                  <h3> Vedha </h3>
                  </a> </li>
                <!-- end task item -->
                <li>
                  <!-- Task item -->
                  <a href="#">
                  <h3> Prakash </h3>
                  </a> </li>
                <!-- end task item -->
                <li>
                  <!-- Task item -->
                  <a href="#">
                  <h3> Chadra Sekhar </h3>
                  </a> </li>
                <!-- end task item -->
              </ul>
            </li>
            <li class="footer"> <a href="#">View all New Connect Requests</a> </li>
          </ul>
        </li>
        <li class="dropdown tasks-menu"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-flag-o"><span class="glyphicon glyphicon-user"></span></i> <span class="label label-danger">5</span> </a>
          <ul class="dropdown-menu">
            <li class="header">You have 5 Pending Requests</li>
            <li>
              <!-- inner menu: contains the actual data -->
              <ul class="menu">
                <li>
                  <!-- Task item -->
                  <a href="#">
                  <h3> Rahul </h3>
                  </a> </li>
                <!-- end task item -->
                <li>
                  <!-- Task item -->
                  <a href="#">
                  <h3> Vijetha </h3>
                  </a> </li>
                <!-- end task item -->
                <li>
                  <!-- Task item -->
                  <a href="#">
                  <h3> Surya Prakash </h3>
                  </a> </li>
                <!-- end task item -->
                <li>
                  <!-- Task item -->
                  <a href="#">
                  <h3> Sagar Chandra </h3>
                  </a> </li>
                <!-- end task item -->
              </ul>
            </li>
            <li class="footer"> <a href="#">View all Connect Requests</a> </li>
          </ul>
        </li>
        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
          <button href="#collapseOne" class="list-group-item strong" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne" style ="background-color:#3C8DBC;border-color:#3C8DBC;color: #FFF " ng-click="test()">
            <img src="/styles/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
            <span class="hidden-xs">{{user}}</span> </button>
          <ul class="dropdown-menu" id="collapseOne" ng-show="collapseOne">
            <!-- User image -->
            <li class="user-header"> <img src="/styles/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
              <p> Rama Krishnan - Parent <small>Member since Nov. 2012</small> </p>
            </li>
            <!-- Menu Body -->

            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-left"> <a class="btn btn-default btn-flat">My  Connections</a> </div>
              <div> <a class="btn btn-default btn-flat">Profile</a> <a href="#/login" class="btn btn-danger"><span class="glyphicon glyphicon-log-out"></span></a> </div>

            </li>
          </ul>
        </li>
        <!-- Control Sidebar Toggle Button -->
        <li> <a data-toggle="control-sidebar"><i class="fa fa-gears"></i></a> </li>
      </ul>
    </div>
  </nav>
</header>
<!-- Left side column. contains the logo and sidebar -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>Subjects </h1>
    <h3> St.Joseph’s Indian High School, VI Std</h3>

  </section>
  <ol class="breadcrumb">
      <li><a href="#/dashboard">Hindi</a></li>
      <li><a href="#/chapterPage"> Main Hoon Na</a></li>
      <li class="active"> Vyakaran Source: Samit</li>
    </ol>
  <!-- Main content -->
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-md-9">
      <div id="amazingaudioplayer-1" style="display:block;position:relative;width:100%;height:auto;margin:0px auto 0px;">
        <ul class="amazingaudioplayer-audios" style="display:none;">
            <li data-artist="Mr. Scruff" data-title="Kalimba" data-album="Ninja Tuna" data-info="" data-image="" data-duration="348">
                <div class="amazingaudioplayer-source" data-src="audios/Kalimba.mp3" data-type="audio/mpeg" />
            </li>
            <li data-artist="Richard Stoltzman/Slovak Radio Symphony Orchestra" data-title="Maid with the Flaxen Hair" data-album="Fine Music, Vol. 1" data-info="" data-image="" data-duration="170">
                <div class="amazingaudioplayer-source" data-src="audios/Maid with the Flaxen Hair.mp3" data-type="audio/mpeg" />
            </li>
            <li data-artist="Bob Acri" data-title="Sleep Away" data-album="Bob Acri" data-info="" data-image="" data-duration="201">
                <div class="amazingaudioplayer-source" data-src="audios/Sleep Away.mp3" data-type="audio/mpeg" />
            </li>
        </ul>

    </div>
        <div class="col-lg-4 col-md-6">
          <div class="small-box bg-aqua">
            <div class="inner">
            <a href="#/chapterPage" class="btn-info">
              <h3>Social Studies</h3>
              <div class="icon"> <i class="ion"><img src="/styles/dist/img/social-studies-icon.png"></i> </div>
              </a>
            </div>

             </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
            <a href="#/chapterPage" class="btn-info">
              <h3>English</h3>
              <div class="icon"> <i class="ion"><img src="/styles/dist/img/english.png"></i> </div>
              </a> </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
            <a href="#/chapterPage" class="btn-info">
              <h3>Science</h3>
              <div class="icon"> <i class="ion"><img src="/styles/dist/img/Science.png"></i> </div>
              </a> </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
            <a href="#/chapterPage" class="btn-info">
              <h3>Maths</h3>
              <div class="icon"> <i class="ion"><img src="/styles/dist/img/maths.png"></i> </div>
              </a> </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <!-- small box -->
          <div class="small-box  bg-light-blue-gradient">
            <div class="inner">
            <a href="#/chapterPage" class="btn-info">
              <h3>Kannada</h3>
              <div class="icon"> <i class="ion"><img src="/styles/dist/img/kannada.png"></i> </div>
              </a> </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <!-- small box -->
          <div class="small-box bg-green-gradient">
            <div class="inner">
            <a href="#/chapterPage" class="btn-info">
              <h3>Hindi</h3>
              <div class="icon"> <i class="ion"><img src="/styles/dist/img/hindi.png"></i> </div>
              </a> </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="container">
  <h3>Across All Subjects</h3>
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#RecentlyListened">Recently Listened</a>
        </h4>
      </div>
      <div id="RecentlyListened" class="panel-collapse collapse in">
        <ul class="list-group">
          <li class="list-group-item"><a  data-toggle="tooltip" data-placement="right" title="Samit: History->Freedom Fighters (2:45 Min)" href="#/rec_dashboard">Number system</a></li>
          <li class="list-group-item"><a  data-toggle="tooltip" data-placement="right" title="Samit: History->Freedom Fighters (2:45 Min)" href="#/rec_dashboard">History of Mankind</a></li>
          <li class="list-group-item"><a  data-toggle="tooltip" data-placement="right" title="Samit: History->Freedom Fighters (2:45 Min)" href="#/rec_dashboard">Vyakaran</a></li>
        </ul>
        <ul class="list-group" ng-show="RecentlyListenedsub">
          <li class="list-group-item"><a  data-toggle="tooltip" data-placement="right" title="Samit: History->Freedom Fighters (2:45 Min)" href="#/rec_dashboard">Number system1</a></li>
          <li class="list-group-item"><a  data-toggle="tooltip" data-placement="right" title="Samit: History->Freedom Fighters (2:45 Min)" href="#/rec_dashboard">History of Mankind2</a></li>
          <li class="list-group-item"><a  data-toggle="tooltip" data-placement="right" title="Samit: History->Freedom Fighters (2:45 Min)" href="#/rec_dashboard">Vyakaran3</a></li>
        </ul>
        <div class="panel-footer"><a data-toggle="collapse" id="dots" ng-click="toggle_visibility()"><span class="glyphicon glyphicon-option-horizontal"></span></a></div>

      </div>

      <div class="panel-heading list-group-item">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#MyLatestRecordings">My Latest Recordings</a>
        </h4>
      </div>
      <div id="MyLatestRecordings" class="panel-collapse collapse in">
        <ul class="list-group">
          <li class="list-group-item"><a  data-toggle="tooltip" data-placement="right" title="Samit: History->Freedom Fighters (2:45 Min)" href="#/rec_dashboard">Earth</a></li>
          <li class="list-group-item"><a  data-toggle="tooltip" data-placement="right" title="Samit: History->Freedom Fighters (2:45 Min)" href="#/rec_dashboard">Magic of Numbers</a></li>
          <li class="list-group-item"><a  data-toggle="tooltip" data-placement="right" title="Samit: History->Freedom Fighters (2:45 Min)" href="#/rec_dashboard">Alice has fun</a></li>
        </ul>
        <ul class="list-group" ng-show="MyLatestRecordingssub">
          <li class="list-group-item"><a  data-toggle="tooltip" data-placement="right" title="Samit: History->Freedom Fighters (2:45 Min)" href="#/rec_dashboard">Earth 1</a></li>
          <li class="list-group-item"><a  data-toggle="tooltip" data-placement="right" title="Samit: History->Freedom Fighters (2:45 Min)" href="#/rec_dashboard">Magic of Numbers 2</a></li>
          <li class="list-group-item"><a  data-toggle="tooltip" data-placement="right" title="Samit: History->Freedom Fighters (2:45 Min)" href="#/rec_dashboard">Alice has fun 3</a></li>
        </ul>
        <div class="panel-footer"><a data-toggle="collapse" ng-click="toggle_latest()"><span class="glyphicon glyphicon-option-horizontal"></span></a></div>


      </div>

      <div class="panel-heading list-group-item">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#RecentlySharedWithMe" >Recently Shared With Me</a>
        </h4>
      </div>
      <div id="RecentlySharedWithMe" class="panel-collapse collapse in">
        <ul class="list-group">
          <li class="list-group-item"><a  data-toggle="tooltip" data-placement="right" title="Samit: History->Freedom Fighters (2:45 Min)" href="#/rec_dashboard">Earth</a></li>
          <li class="list-group-item"><a  data-toggle="tooltip" data-placement="right" title="Samit: History->Freedom Fighters (2:45 Min)" href="#/rec_dashboard" >Magic of Numbers</a></li>
          <li class="list-group-item"><a  data-toggle="tooltip" data-placement="right" title="Samit: History->Freedom Fighters (2:45 Min)" href="#/rec_dashboard">Alice has fun</a></li>
        </ul>
        <ul class="list-group" ng-show="RecentlySharedWithMesub">
          <li class="list-group-item"><a  data-toggle="tooltip" data-placement="right" title="Samit: History->Freedom Fighters (2:45 Min)" href="#/rec_dashboard">Earth 1</a></li>
          <li class="list-group-item"><a  data-toggle="tooltip" data-placement="right" title="Samit: History->Freedom Fighters (2:45 Min)" href="#/rec_dashboard">Magic of Numbers 2</a></li>
          <li class="list-group-item"><a  data-toggle="tooltip" data-placement="right" title="Samit: History->Freedom Fighters (2:45 Min)" href="#/rec_dashboard">Alice has fun 3</a></li>
        </ul>
        <div class="panel-footer"><a data-toggle="collapse" ng-click="toggle_shared()"><span class="glyphicon glyphicon-option-horizontal"></span></a></div>

      </div>

    </div>
  </div>



</div>
      </div>
      <!-- /.row -->
      <!-- Main row -->
      <!-- /.row (main row) -->
      <!-- /.content -->
    </div>
  </section>
  <!-- /.content-wrapper -->
  <footer class="main-footer"> Copyright &copy; 2016 Teach and Learn  All rights reserved. </footer>
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->
</div>

<!-- jQuery 2.2.0 -->
 <!--<script src="audioplayerengine/jquery.js"></script>-->
    <!--<script src="audioplayerengine/amazingaudioplayer.js"></script>-->
    <!--<link rel="stylesheet" type="text/css" href="audioplayerengine/initaudioplayer-1.css">-->
    <!--<script src="audioplayerengine/initaudioplayer-1.js"></script>-->
<!--&lt;!&ndash;<script src="plugins/jQuery/jQuery-2.2.0.min.js"></script>&ndash;&gt;-->
<!--&lt;!&ndash; jQuery UI 1.11.4 &ndash;&gt;-->
<!--<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>-->
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<!--<script>-->
  <!--$.widget.bridge('uibutton', $.ui.button);-->
<!--</script>-->
<!-- Bootstrap 3.3.6 -->
