<div class="wrapper hold-transition skin-blue layout-top-nav">

  <header class="main-header">

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->

<!-- Logo -->
    <a href="#/parent" class="logo">
      <span class="logo-lg"><img src="/styles/dist/img/logo_header.png"  class="img-responsive"></span>
    </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->
          <li class="dropdown messages-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-envelope-o"></i>
              <span class="label label-warning"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> 4</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 4 messages</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li><!-- start message -->
                    <a href="#">
                      <div class="pull-left">
                        <img src="/styles/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        Rohith
                        <small><i class="fa fa-clock-o"></i> 5 mins</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                  <!-- end message -->
                  <li>
                    <a href="#">
                      <div class="pull-left">
                        <img src="/styles/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        Chandu
                        <small><i class="fa fa-clock-o"></i> 2 hours</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="pull-left">
                        <img src="/styles/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                       Vijay
                        <small><i class="fa fa-clock-o"></i> Today</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="pull-left">
                        <img src="/styles/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                      Mala
                        <small><i class="fa fa-clock-o"></i> Yesterday</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="pull-left">
                        <img src="/styles/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        Arun
                        <small><i class="fa fa-clock-o"></i> 2 days</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="footer"><a href="#">See All Messages</a></li>
            </ul>
          </li>
          <!-- Notifications: style can be found in dropdown.less -->

          <!-- Tasks: style can be found in dropdown.less -->
          <li class="dropdown tasks-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-flag-o"></i>
              <span class="label label-warning"><span class="glyphicon glyphicon-bell" aria-hidden="true"></span></span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">Notifications</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li><!-- Notifications item -->
                    <a href="#">
                      <h3>
                      Pending Approvals
                        <small class="pull-right">20%</small>
                      </h3>
                      <div class="progress xs">
                        <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">20% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                  <li><!-- Task item -->
                    <a href="#">
                      <h3>
                      Recent Records
                        <small class="pull-right">40%</small>
                      </h3>
                      <div class="progress xs">
                        <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">40% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                  <li><!-- Task item -->
                    <a href="#">
                      <h3>
                        Shared Records
                        <small class="pull-right">60%</small>
                      </h3>
                      <div class="progress xs">
                        <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">60% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>

                  <!-- end Notifications item -->
                </ul>
              </li>
              <li class="footer">
                <a href="#">View all Notifications</a>
              </li>
            </ul>
          </li>
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="/styles/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
              <span class="hidden-xs">Rama Krishnan</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="/styles/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">

                <p>
                  Rama Krishnan - Parent
                  <small>Member since Nov. 2012</small>
                </p>
              </li>
              <!-- Menu Body -->
              <li class="user-body">
                <div class="row">
                  <div class="col-xs-4 text-center">
                    <a href="#">Followers</a>
                  </div>

                  <div class="col-xs-4 text-center">
                    <a href="#">Friends</a>
                  </div>
                </div>
                <!-- /.row -->
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                  <a href="#" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
          <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" >
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Record a Lesson
       <!-- <small>Child's Home Page</small>-->
      </h1>
      <ol class="breadcrumb">
        <li><a href="#/parent"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Child's Home Page</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->

      <!-- /.row -->
      <!-- Main row -->
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Child Name: Rohit</h3>


            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tr class="callout callout-info">
                  <th>Subject</th>
                  <th>Chapter</th>
                  <th>Topic</th>
                  <th>Type of Recording</th>
                </tr>
                <tr>
                  <td><a href="#">Science</a></td>
                  <td>Solid Liquid Gases</td>
                  <td>Whole Chapter</td>
                  <td>Summary</td>
                </tr>
              </table>
            </div>
            <div  class="clearfix"></div>
                <!-- /.box-body -->
          </div>

           <div class="box">
            <div class="box-body">
         <!--<div class="col-md-3">-->
           <ng-audio-recorder id="mainAudio" audio-model="recorded" show-player="false" time-limit="timeLimit">
             <div ng-if="recorder.isAvailable">

               <div ng-if="recorder.status.isDenied === true" style="color: red;">
                 You need to grant permission for this application to USE your microphone.
               </div>
               <div class="col-md-3">
               <button type="button" class="btn btn-app" ng-click="recorder.status.isPlaying ? recorder.playbackPause() : recorder.playbackResume()" ng-disabled="recorder.status.isRecording || !recorder.audioModel">{{recorder.status.isStopped || recorder.status.isPaused ? 'Play' : 'Pause'}}<span class="glyphicon glyphicon-play"></span>
               </button>
                 <button type="button" class="btn btn-app" ng-click="recorder.startRecord()" ng-disabled="recorder.status.isDenied === true || recorder.status.isRecording"><img src="/styles/dist/img/microphone.png" ></button>
               <button type="button" class="btn btn-app" ng-click="recorder.stopRecord()" type="button" ng-disabled="recorder.status.isRecording === false"><span class="glyphicon glyphicon-stop"></button>
                </div>
               <!--<button ng-click="recorder.status.isPlaying ? recorder.playbackPause() : recorder.playbackResume()"-->
               <!--type="button" ng-disabled="recorder.status.isRecording || !recorder.audioModel">-->
               <!--{{recorder.status.isStopped || recorder.status.isPaused ? 'Play' : 'Pause'}}-->
               <!--</button>-->
               <div style="max-width: 600px">
                 <div ng-show="recorder.status.isConverting">
                   Please wait while your recording is processed.
                 </div>

                 <div ng-show="recorder.isHtml5 && recorder.status.isRecording">
                   <ng-audio-recorder-analyzer></ng-audio-recorder-analyzer>
                 </div>
                 <br/>

                 <div ng-show="!recorder.status.isRecording && recorder.audioModel">
                   <ng-audio-recorder-wave-view wave-color="yellow" bar-color="red"></ng-audio-recorder-wave-view>
                 </div>
               </div>


               <h2 style="font-family: sans-serif; text-align: center; width: 60px; border-radius: 20px;
        border: solid 2px #333; padding: 20px 10px;" ng-if="recorder.status.isRecording">
                 {{recorder.elapsedTime > 9 ? recorder.elapsedTime : ('0'+recorder.elapsedTime)}}
               </h2>


               <h2 style="font-family: sans-serif; text-align: center; border: solid 2px #333; padding: 20px 10px;"
                   ng-if="recorder.status.isRecording">
                 Remaining Time: {{recorder.timeLimit - recorder.elapsedTime}}
               </h2>
             </div>


             <div ng-if="!recorder.isAvailable">
               Your browser does not support this feature natively, please use latest version of <a
               href="https://www.google.com/chrome/browser" target="_blank">Google Chrome</a> or <a
               href="https://www.mozilla.org/en-US/firefox/new/" target="_blank">Mozilla Firefox</a>. If you're on
               Safari or Internet Explorer, you can install <a href="https://get.adobe.com/flashplayer/">Adobe Flash</a> to
               use this feature.
             </div>

          <!-- /.box -->
      <div class="col-md-6">
          <p>Time limit: 4 min for this topic. Click Approve to provide access to Microphone</p>
          <div class="btn-group">

                  <button type="button" class="btn btn-info"><i class="glyphicon glyphicon-share"></i> Share?</button>
                  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu">

                    <li><a href="#">Rohit</a></li>
                    <li><a href="#">Mala</a></li>
                    <li><a href="#">Sujith</a></li>
                  </ul>
                </div>
                  <button type="button" class="btn btn-success"  ng-click="recorder.save(file)" ng-disabled="recorder.status.isRecording || !recorder.audioModel"><span class="glyphicon glyphicon-save"></span> Save</button>
                </div>

           </ng-audio-recorder>
                </div>
                </div>

          <div  class="clearfix"></div>

          <div class="box">
           <div class="box-body">
              <form role="form">

                <!-- input states -->
                <div class="form-group has-success">
                  <label class="control-label" for="inputSuccess"><i class="fa fa-check"></i> Provide Reference material details (e.g. School Book page 39-40</label>
                  <input type="text" class="form-control" id="inputSuccess" placeholder="Enter ...">

                </div>
                <div class="form-group has-warning">
                  <label class="control-label" for="inputWarning"><i class="fa fa-bell-o"></i> Comments/Message</label>
                  <input type="text" class="form-control" id="inputWarning" placeholder="Enter ...">

                </div>

              </form>
            </div>
          </div>

        </div>
      </div>
      <!-- /.row (main row) -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
Copyright &copy; 2016 Teach and Learn  All rights reserved.
  </footer>

  <!-- Control Sidebar -->

  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>



