

<div class="wrapper">
  <header class="main-header">
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <!-- Logo -->
      <a href="#/dashboard" class="logo"> <span class="logo-lg"><img src="/styles/dist/img/logo_header.png"  class="img-responsive"></span> </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">


          <!-- Notifications: style can be found in dropdown.less -->
          <li class="dropdown notifications-menu">
            <a class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"><span class="glyphicon glyphicon-flag"></span></i>
              <span class="label label-danger">0</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 10 New topic requests</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li>
                    <a href="#">
                      <i class="fa fa-users text-aqua"></i> Down the Rabbit-hole
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-warning text-yellow"></i> Tabby’s Tablecloth
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-users text-red"></i> The Village School
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-shopping-cart text-green"></i> Saving the Tiger
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-user text-red"></i> Arthur and the Sword
                    </a>
                  </li>
                </ul>
              </li>
              <li class="footer"><a href="#">View all</a></li>
            </ul>
          </li>
          <!-- Tasks: style can be found in dropdown.less -->
          <li class="dropdown tasks-menu">
            <a class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-flag-o"><span class="glyphicon glyphicon-user"></span></i>
              <span class="label label-danger">9</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 9 New Connect Requests</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li><!-- Task item -->
                    <a href="#">
                      <h3>
                        Manju

                      </h3>

                    </a>
                  </li>
                  <!-- end task item -->
                  <li><!-- Task item -->
                    <a href="#">
                      <h3>
                        Vedha

                      </h3>

                    </a>
                  </li>
                  <!-- end task item -->
                  <li><!-- Task item -->
                    <a href="#">
                      <h3>
                        Prakash

                      </h3>

                    </a>
                  </li>
                  <!-- end task item -->
                  <li><!-- Task item -->
                    <a href="#">
                      <h3>
                        Chadra Sekhar

                      </h3>

                    </a>
                  </li>
                  <!-- end task item -->
                </ul>
              </li>
              <li class="footer">
                <a href="#">View all New Connect Requests</a>
              </li>
            </ul>
          </li>
          <li class="dropdown tasks-menu">
            <a class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-flag-o"><span class="glyphicon glyphicon-user"></span></i>
              <span class="label label-danger">5</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 5 Pending Requests</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li><!-- Task item -->
                    <a href="#">
                      <h3>
                        Rahul

                      </h3>

                    </a>
                  </li>
                  <!-- end task item -->
                  <li><!-- Task item -->
                    <a href="#">
                      <h3>
                        Vijetha

                      </h3>

                    </a>
                  </li>
                  <!-- end task item -->
                  <li><!-- Task item -->
                    <a href="#">
                      <h3>
                        Surya Prakash

                      </h3>

                    </a>
                  </li>
                  <!-- end task item -->
                  <li><!-- Task item -->
                    <a href="#">
                      <h3>
                        Sagar Chandra

                      </h3>

                    </a>
                  </li>
                  <!-- end task item -->
                </ul>
              </li>
              <li class="footer">
                <a href="#">View all Connect Requests</a>
              </li>
            </ul>
          </li>
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu"> <a class="dropdown-toggle" data-toggle="dropdown"> <img src="styles/dist/img/user2-160x160.jpg" class="user-image" alt="User Image"> <span class="hidden-xs">Rama Krishnan</span> </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header"> <img src="styles/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                <p> Rama Krishnan - Parent <small>Member since Nov. 2012</small> </p>
              </li>
              <!-- Menu Body -->
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left"> <a href="#" class="btn btn-default btn-flat">My  Connections</a> </div>
                <div> <a href="#" class="btn btn-default btn-flat">Profile</a> <a href="#/login" class="btn btn-danger"><span class="glyphicon glyphicon-log-out"></span></a> </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
          <li>
            <a data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li>
        </ul>
      </div>
    </nav>

  </header>
  <!-- Left side column. contains the logo and sidebar -->


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">



    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>Upload Audio file</h1>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="container">
        <div class="row">
          <div class="col-md-10">
            <div class="box">

              <div class="panel panel-default">
                <div class="panel-heading"><strong>Upload files</strong> <small> </small></div>
                <div class="panel-body">
                  <div class="form-group">
                    <label for="document-name">Name of Document:</label>
                    <input type="text" class="form-control" id="document-name" placeholder="">
                  </div>
                  <!-- <div class="input-group image-preview">
                      <input placeholder="" type="file" file-model = "myFile" class="btn btn-default image-preview-clear">
                      <!-- don't give a name === doesn't send on POST/GET
                      <span class="input-group-btn">
                      <button type="button" class="btn btn-labeled btn-default" ng-click="uploadFile()"> <span class="btn-label"><i class="glyphicon glyphicon-upload"></i> </span>Upload</button>
                      </span> </div> -->
                  <!-- /input-group image-preview [TO HERE]-->

                  <br />
                  <!-- <input type="file" id="file1" name="file" multiple
           ng-files="getTheFiles($files)" />

       <input type="button" ng-click="uploadFiles()" value="Upload" /> -->
                  <input type = "file" file-model="files" multiple/>
                  <button ng-click = "uploadFile()">upload me</button>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>    </section>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
      Copyright &copy; 2016 Teach and Learn  All rights reserved.
    </footer>


    <div class="control-sidebar-bg"></div>
  </div>
  <!-- ./wrapper -->
</div>
